@import "fontes.css";
body {
    margin: 0;
    padding: 0;
    border: 0;
}

.container {
    display: flex;
    flex-direction: column;
    width: 70%;
}

@media only screen and (max-width: 550px) {
    .container {
        width: 100%;
    }
}

.title-container {
    display: flex;
    justify-content: center;
}

@media only screen and (min-width: 550px) {
    .title-container {
        display: flex;
        justify-content: center;
        width: 95%;
        margin-left: 2%;
    }
}

.container h1 {
    font-family: "Mohave";
    color: #4682B4;
    font-weight: bolder;
}

.news {
    background-color: #808080;
    border-radius: 5px;
    width: 95%;
    height: 25%;
    margin-bottom: 15px;
    margin-left: 2%;
    text-align: center;
}

@media only screen and (max-width: 550px) {
    .news {
        width: 95%;
        margin-left: none;
    }
}

.news div h2 {
    font-family: "Anson";
    font-weight: 100;
    color: #FFF;
    padding: 1%;
}

.news img {
    width: 97%;
    height: 97%;
    border-radius: 5px;
}

.news div p {
    font-family: Helvetica;
    color: #FFF;
    font-weight: 300;
    padding: 2%;
    text-align: justify;
}

@media only screen and (max-width: 550px) {
    .news div p {
        text-align: left;
    }
}