body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #D3D3D3;
}

.container-container {
    display: flex;
    flex-direction: row;
}

header {
    width: 100%;
    height: 500px;
    background-image: url("");
    background-color: grey;
    background-repeat: no-repeat;
}

.container-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu-bg {
    background-color: #4682B4;
    width: 100%;
    height: 61px;
    opacity: .7;
}


/*menu hamburguer*/

.container-mobile-menu {
    display: flex;
    justify-content: right;
}

#btn-mobile {
    display: none;
    position: absolute;
    top: 0;
    z-index: 2;
    right: 2%;
    font-size: 1rem;
    padding: 2% 2%;
    top: 2%;
    background: none;
    border: none;
    width: 40px;
    height: 40px;
}

#hamburguer {
    position: absolute;
    color: #FFF;
    border-top: 2px solid;
    width: 20px;
}

#hamburguer::before,
#hamburguer::after {
    content: "";
    display: block;
    border-top: 2px solid;
    width: 20px;
    margin-top: 20%;
    transition: .3s;
}

#nav.active #hamburguer {
    border-top: none;
}

#nav.active #hamburguer::before {
    transform: rotate(135deg);
}

#nav.active #hamburguer::after {
    position: absolute;
    transform: rotate(-135deg);
    top: 9%;
}

@media only screen and (max-width: 550px) {
    header {
        height: 60px;
    }
    #btn-mobile {
        display: flex;
        justify-content: center;
    }
    .menu-bg {
        opacity: 1;
    }
    .opcao-menu {
        visibility: hidden;
        overflow-y: hidden;
    }
    .opcoes-menu {
        transition: .6s;
    }
}

#nav.active .opcao-menu {
    margin-bottom: 2%;
    width: 90%;
    padding: 2% 0;
    border-bottom: 2px solid rgba(255, 255, 255, .6);
    visibility: visible;
    overflow-y: auto;
}

#nav.active .opcoes-menu {
    position: absolute;
    display: block;
    top: 60px;
    height: 440px;
    background-color: #4682B4;
    z-index: 1000;
    transition: .6s;
}

#section.active {
    top: 500px;
}

.menu {
    position: absolute;
    width: 100%;
    height: 60px;
    align-items: center;
    top: 0;
}

.opcoes-menu {
    position: relative;
    width: 100%;
    top: 20px;
}

.opcao-menu {
    margin-left: 16px;
}

.opcao-menu a {
    font-size: 18px;
    font-family: Arial;
    font-weight: bold;
    color: #FFF;
    text-decoration: none;
}

.opcao-menu a:hover {
    font-size: 20px;
    cursor: pointer;
}

#section {
    position: relative;
    margin-top: 3%;
}

#section iframe {
    width: 100%;
    border: none;
}