body {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #1C1C1C;
}

body::-webkit-scrollbar {
    width: 7px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: #696969;
    border-radius: 20px;
    border: 1px solid #D3D3D3;
}

.container-container {
    display: flex;
    flex-direction: row;
}

header {
    width: 100%;
}

.container-menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu-bg {
    background-color: #4682B4;
    width: 100%;
    height: 61px;
    opacity: .7;
}


/*menu hamburguer*/

.container-mobile-menu {
    display: flex;
    justify-content: right;
}

#btn-mobile {
    display: none;
    position: absolute;
    top: 0;
    z-index: 2;
    right: 2%;
    font-size: 1rem;
    padding: 2% 2%;
    top: 2%;
    background: none;
    border: none;
    width: 40px;
    height: 40px;
}

#hamburguer {
    position: absolute;
    color: #FFF;
    border-top: 2px solid;
    width: 20px;
}

#hamburguer::before,
#hamburguer::after {
    content: "";
    display: block;
    border-top: 2px solid;
    width: 20px;
    margin-top: 20%;
    transition: .3s;
}

#nav.active #hamburguer {
    border-top: none;
}

#nav.active #hamburguer::before {
    transform: rotate(135deg);
}

#nav.active #hamburguer::after {
    position: absolute;
    transform: rotate(-135deg);
    top: 9%;
}

#nav.active .opcao-menu {
    margin-bottom: 2%;
    width: 90%;
    padding: 2% 0;
    border-bottom: 2px solid rgba(255, 255, 255, .6);
    visibility: visible;
    overflow-y: auto;
}

#nav.active .opcoes-menu {
    position: absolute;
    display: block;
    top: 60px;
    height: 440px;
    background-color: #4682B4;
    z-index: 1000;
    transition: .6s;
}

#content-container.active {
    margin-top: 430px;
}

.menu {
    position: absolute;
    width: 100%;
    height: 60px;
    align-items: center;
    top: 0;
}

.opcoes-menu {
    position: relative;
    width: 100%;
    top: 20px;
}

.opcao-menu {
    margin-left: 16px;
}

.opcao-menu a {
    font-size: 18px;
    font-family: Arial;
    font-weight: bold;
    color: #FFF;
    text-decoration: none;
}

.opcao-menu a:hover {
    font-size: 20px;
    cursor: pointer;
}

#section {
    position: relative;
}

#section iframe {
    width: 100%;
    border: none;
}

#grupos-iframe,
#nossa-historia-iframe {
    margin-bottom: 0;
    min-height: 1000px;
}

.footer-container {
    position: absolute;
    display: flex;
    flex-direction: center;
    justify-content: left;
    color: #FFF;
    font-family: "Arial";
    font-size: 14px;
    width: 100%;
    height: 25%;
    background-color: #000000;
}

.location-container {
    position: relative;
    display: flex;
    justify-content: row;
    align-items: flex-start;
    max-height: 5%;
    top: 20%;
    margin-left: 10%;
    margin-right: 10%;
}

.location-container a {
    margin-right: 10px;
}

.socialmedias-container {
    position: relative;
    display: flex;
    width: 40%;
    max-height: 5%;
    top: 20%;
    flex-direction: row;
    margin-right: 1%;
}

.facebook-instagram,
.whatsapp {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2%;
}

.facebook-instagram p,
.whatsapp p {
    margin-bottom: 1%;
}

@media only screen and (max-width: 550px) {
    header {
        height: 60px;
    }
    #btn-mobile {
        display: flex;
        justify-content: center;
    }
    .menu-bg {
        opacity: 1;
    }
    .opcao-menu {
        visibility: hidden;
        overflow-y: hidden;
    }
    .opcoes-menu {
        transition: .6s;
    }
    .footer-container {
        font-size: 12px;
    }
    .location-container {
        flex-direction: column;
        align-items: flex-start;
    }
    .location-container a,
    .location-container p {
        margin-top: 0;
    }
    .socialmedias-container {
        flex-direction: column;
        top: 2%;
    }
    .facebook-instagram,
    .whatsapp {
        align-items: flex-start;
    }
}