@import "fontes.css";

body {
    margin: 0;
    padding: 0;
    border: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.title-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.title-container h1 {
    font-family: "Mohave";
    color: #4682B4;
    font-weight: bolder;
}

.modal-container {
    display: none;
}

.modal-container.active {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    width: 100%;
    height: 100%;
}

#modal {
    display: none;
    position: absolute;
    width: 70%;
    z-index: 1000;
    color: #FFF;
    border: 1px solid #fff;
    border-radius: 10px;
    top: 4%;
    padding: 2%;
    text-align: justify;
}

.modal-container.active #modal {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.modal-container.active #modal .modal-title {
    margin-top: 0;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    margin-bottom: 2%;
}

.modal-container.active #modal .modal-img {
    width: 99%;
    height: 30%;
    border-radius: 10px;
    margin-bottom: 2%;
}

.modal-container.active #modal .modal-subtitle {
    font-size: 16px;
    font-family: Helvetica, Arial, sans-serif;
}


#close-modal {
    z-index: 1000;
    width: 97%;
    margin-right: 4%;
}

#close-modal p {
    font-family: arial;
    color: #fff;
    padding: 4px;
    width: 5%;
    text-align: center;
    font-size: 21px;
    margin: 0 100%;
}

#close-modal p:hover {
    cursor: pointer;
    color: #B22222;
    font-weight: 600;
    transition: .6;
}

.modal-btns {
    position: absolute;
    margin-top: 35%;
    height: 60px;
    width: 60px;
    border: 1px solid #FFF;
    background-color: transparent;
    border-radius: 60px;
    color: #FFF;
    font-size: 30px;
}

.modal-btns:hover {
    height: 70px;
    width: 70px;
    transition: .4s;
    cursor: pointer;
}

#btn-before {
    margin-right: 85%;
}

#btn-after {
    margin-left: 85%;
}


.modal-bg {
    position: absolute;
    margin-top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    backdrop-filter: blur(25px);
}

#fixed-news-container {
    display: flex;
    flex-direction: row;
    width: 93%;
    height: 250px;
    background-color: #363636;
    border-right: 20px solid #363636;
    border-left: 20px solid #363636;
    border-radius: 10px;
    margin-bottom: 7%;
    padding: 2% 0 0 0;
    overflow-x: scroll;
}

#fixed-news-container::-webkit-scrollbar,
#fixed-news-container::-webkit-scrollbar-track,
#fixed-news-container::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.fixed-news {
    display: flex;
    flex-direction: "column";
    justify-content: center;
    align-items: center;
    min-width: 13%;
    height: 95%;
    border-radius: 10px;
    margin-left: 1%;
    padding-left: 5px;
    padding-right: 5px;
}

.fixed-news:hover {
    cursor: pointer;
}

.fixed-news .fixed-news-min-title {
    color: #FFF;
    font-size: 1em;
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    width: 100%;
}

#news-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news {
    background-color: #363636;
    border-radius: 5px;
    width: 70%;
    height: 25%;
    margin-bottom: 15px;
    text-align: center;
    padding: 2%;
    padding-top: 0;
    padding-bottom: 0;
}

.news .news-title h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
    color: #FFF;
    padding: 0 1% 0 1%;
    margin-bottom: 1%;
    border: none;
    font-size: 2em;
}

.news hr {
    border: 1px solid #FFF;
    width: 97%;
    background-color: #FFF;
}

.news img {
    width: 97%;
    height: 97%;
    border-radius: 5px;
}

.news div p {
    font-family: Helvetica, Arial, sans-serif;
    color: #FFF;
    font-weight: 300;
    padding: 2%;
    text-align: justify;
}

.news div p .news-subtitle-button {
    border: none;
    padding: none;
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 300;
    font-size: 16px;
    background-color: transparent;
    color: #FFF;
}

.news div p .news-subtitle-button:hover {
    cursor: pointer;
    text-decoration: underline;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 100%;
    }

    #fixed-news-container {
        width: 84%;
        padding: 20px 0 0 0;
    }

    .modal-container.active #modal {
        top: 18%;
        width: 90%;
    }

    .modal-btns {
        top: 0;
    }

    .modal-btns:hover {
        height: 60px;
        width: 60px;
    }

    #btn-before {
        margin-right: 20%;
    }

    #btn-after {
        margin-left: 20%;
    }

    #close-modal {
        width: 93%;
    }
    
    #close-modal p {
        padding: 7px;
    }

    .fixed-news {
        min-width: 135px;
    }

    .news {
        width: 95%;
        margin-left: none;
        padding: 0;
    }
}

@media only screen and (min-width: 600px) {
    .title-container {
        display: flex;
        justify-content: center;
        width: 95%;
        margin-left: 2%;
    }

    .title-container h1 {
        font-size: 4em;
    }
}