@import "fontes.css";
body {
    margin: 0;
    padding: 0;
    border: 0;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.title-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.title-container h1 {
    font-family: "Mohave";
    color: #4682B4;
    font-weight: bolder;
}

.modal-container {
    display: none;
    position: absolute;
}

.modal-container.active {
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 0;
    width: 100%;
    height: 100%;
}

#close-modal {
    z-index: 1000;
    width: 70%;
}

#close-modal p {
    font-family: arial;
    color: #fff;
    padding: 4px;
    width: 5%;
    left: 0;
    text-align: center;
    margin-left: 96%;
    font-size: 21px;
}

#close-modal p:hover {
    cursor: pointer;
    color: #B22222;
    transition: .6;
}

#modal {
    display: none;
    position: absolute;
    width: 70%;
    height: 50%;
    z-index: 1000;
    color: #FFF;
    border: 1px solid #fff;
    border-radius: 10px;
    top: 4%;
    overflow-y: hidden;
}

.modal-container.active #modal {
    display: block;
}

.modal-bg {
    position: absolute;
    margin-top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    backdrop-filter: blur(25px);
}

.fixed-news-container {
    display: flex;
    flex-direction: row;
    width: 93%;
    height: 250px;
    background-color: #4F4F4F;
    border-right: 20px solid #4F4F4F;
    border-left: 20px solid #4F4F4F;
    border-radius: 10px;
    margin-bottom: 7%;
    padding: 2% 0 0 0;
    overflow-x: scroll;
}

.fixed-news-container::-webkit-scrollbar,
.fixed-news-container::-webkit-scrollbar-track,
.fixed-news-container::-webkit-scrollbar-thumb {
    background-color: transparent;
}

.fixed-news {
    min-width: 155px;
    height: 95%;
    border-radius: 10px;
    background-color: #000;
    margin-left: 1%;
}

.fixed-news:hover {
    cursor: pointer;
    min-width: 160px;
    height: 100%;
}

.news {
    background-color: #808080;
    border-radius: 5px;
    width: 70%;
    height: 25%;
    margin-bottom: 15px;
    text-align: center;
}

.news .news-title h2 {
    font-family: "Helvetica";
    font-weight: 100;
    color: #FFF;
    padding: 0 1% 0 1%;
    margin-bottom: 1%;
    border: none;
    font-size: 2em;
}

.news hr {
    border: 1px solid #FFF;
    width: 97%;
    background-color: #FFF;
}

.news img {
    width: 97%;
    height: 97%;
    border-radius: 5px;
}

.news div p {
    font-family: "Helvetica";
    color: #FFF;
    font-weight: 300;
    padding: 2%;
    text-align: justify;
}

.news div p .news-subtitle-button {
    border: none;
    padding: none;
    font-family: "Helvetica";
    font-weight: 300;
    font-size: 16px;
    background-color: transparent;
    color: #FFF;
}

.news div p .news-subtitle-button:hover {
    cursor: pointer;
    text-decoration: underline;
}

@media only screen and (max-width: 550px) {
    .container {
        width: 100%;
    }
    .fixed-news-container {
        width: 84%;
        padding: 20px 0 0 0;
    }
    .modal-container.active #modal {
        top: 55%;
        height: 35%;
    }
    .news {
        width: 95%;
        margin-left: none;
    }
    .news div p {
        text-align: left;
    }
}

@media only screen and (min-width: 550px) {
    .title-container {
        display: flex;
        justify-content: center;
        width: 95%;
        margin-left: 2%;
    }
    .title-container h1 {
        font-size: 4em;
    }
    .news div p {
        text-align: left;
    }
}